/* General rules */
body {
    margin: 0;
    padding:0;
}

main, footer {
    margin-left: 0.5%;
}

/* Header rules */

header {
    background-image: url(../img/pattern.png);
    background-size: contain;
    background-color: #4da1ff;
}

#logo {
    width: 15%;
    height: 15%;
    margin-top: 2%;
    margin-left: 0.5%;
}

/* Body Rules */

.titolo {
    font-size: larger;
}

.scritto-da {
    color: #939393;
}

.nome-autore {
    color: #3eb8e9;
}

.data {
    font-size: smaller;
    color: #939393;
}

.fotoprincipali {
    font-size: smaller;
}

/* tabella */

#colonna1 {
    width: 25%;

}

#colonna2 {
    width: 25%;

}

#colonna3 {
    width: 48%;
}

#rigahead {
    background-color: #1aabe6;
    color: white;

}

#riga1,#riga3 {
    background-color: #b2e6f2;
}

/* footer rules */
#footer-title {
    color: #939393;
}

.img-footer {
    color: white;
    font-size: large;
    padding: 15px;
    height:160px;
    width: 200px;
    margin-bottom: 10px;
}

#img-footer1 {
    background-image: url(../img/monitor.jpg);
    background-size: cover;
}

#img-footer2 {
    background-image: url(../img/graph.jpg);
    background-size: cover;
}